In [4]:
import pandas as pd

var=pd.Series([1,2,3,4,5],index=['a','b','c','d','w'], dtype="object")
print(var)
print(len(var))
print (var[2])#indexing

a    1
b    2
c    3
d    4
w    5
dtype: object
5
3

C:\Users\junaidwar\AppData\Local\Temp\ipykernel_8608\2527849621.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (var[2])

In [29]:
v=[1,2,3,1]
v1=pd.DataFrame(v)
print(v1)
v2={"a":[1,2,3,4,5,6],"b":[7,8,9,3,4,5]}

v3=pd.DataFrame(v2,index=["a","b","c","d","g","f"])
print(v3)
print(v2["a"][2])
print(v2)

   0
0  1
1  2
2  3
3  1
   a  b
a  1  7
b  2  8
c  3  9
d  4  3
g  5  4
f  6  5

TypeError: print() got an unexpected keyword argument 'center'

In [54]:
import pandas as pd
var=pd.DataFrame({"name":["junaid","ahmad","war"],"age":[13,12,17],"marks":[30,40,50]},index=[1,2,3])
print(var["name"][2])
print(var["marks"])

ahmad
1    30
2    40
3    50
Name: marks, dtype: int64

In [69]:
import pandas as pd
var1=pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,0]},index=["a","b","c","d","e"])
var1["c"]=var1["a"]+var1["b"]
var1["d"]=var1["a"]-var1["b"]
var1["e"]=var1["a"]/var1["b"]
var1["f"]=var1["a"]*var1["b"]

var1
var1["pyton"]=var1["a"]>=5
var1

   a  b   c  d         e   f  pyton
a  1  6   7 -5  0.166667   6  False
b  2  7   9 -5  0.285714  14  False
c  3  8  11 -5  0.375000  24  False
d  4  9  13 -5  0.444444  36  False
e  5  0   5  5       inf   0   True

In [29]:
import pandas as pd
var1=pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,0]},index=["a","b","c","d","e"])
var1.insert(2,"python",[12,13,13,14,15])
var1.insert(3,"c",var1["a"][0:2])#limit used 
var1
var1.pop("b")
var1
del var1["python"]
var1

   a    c
a  1  1.0
b  2  2.0
c  3  NaN
d  4  NaN
e  5  NaN

In [13]:
import pandas as pd
var1=pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,0]},index=["a","b","c","d","e"])
var1.to_csv("test")

In [54]:
import pandas as pd
 # pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",nrows=10,usecols=["Index","Customer Id","First Name","City"],index_col=["First Name"],skiprows=[1])
pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",nrows=10,index_col="First Name")
pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",header=[2])
pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",names=["co1","co2","co3,co4","co5","co6","co7","co8","co9","co10","co11","co12","co",])
pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",dtype={"Index":"float"})

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Unnamed: 12
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/,NaN
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/,NaN
2,3.0,6F94879bDAfE5a6,Roy,NaN,12,NaN,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/,NaN
3,NaN,1,1,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,6/2/2020,http://www.good-lyons.com/,NaN
4,5.0,NaN,NaN,NaN,"in, Lang and Andrade",West Priscilla,1,001-234-203-0635x76146,001-199-446-3860x3486,colin1alvarado@miles.net,4/17/2021,https://goodwin-ingram.com/,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96.0,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,1/30/2022,http://hayes-perez.com/,NaN
96,97.0,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,-3769,605.413.3198,vkemp@ferrell.com,7/10/2021,https://novak-allison.com/,NaN
97,98.0,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,9/18/2021,https://www.ross.com/,NaN
98,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,8/11/2021,http://watkins.info/,NaN
99,100.0,NaN,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,3/11/2020,http://www.hatfield-saunders.net/,NaN

In [137]:
#pandas functions
q=pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",nrows=10)
q
q.index
q.columns
q.describe()
q.head(11)
q.tail(1)
q[3:7]
q.to_numpy()
q.sort_index(axis=0,ascending=1)
# q ["Index"][0]=["py"]
# q.loc[0,["Index"="pyt"]]
q.rename(columns={"Index":"py"})
q.loc[:6,["Customer Id"]]#is used to acces data using column name
q.iloc[0:3]# access data using indexs

q=pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",nrows=10)
q.drop("Country",axis=1)#must use axis to remove

,Index,Customer Id,First Name,Last Name,Company,City,Phone 1,Phone 2,Email,Subscription Date,Website,Unnamed: 12
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/,NaN
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/,NaN
2,3.0,6F94879bDAfE5a6,Roy,NaN,12,NaN,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/,NaN
3,NaN,1,1,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,6/2/2020,http://www.good-lyons.com/,NaN
4,5.0,NaN,NaN,NaN,"in, Lang and Andrade",West Priscilla,001-234-203-0635x76146,001-199-446-3860x3486,colin1alvarado@miles.net,4/17/2021,https://goodwin-ingram.com/,1.0
5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,EA4d384DfDbBf77,1,1,"Lester, Woodard and Mitchell",Lake Ana,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,8/24/2021,https://www.le.com/,NaN
7,8.0,0e04AFde9f225dE,Brett,Mullen,NaN,Kimport,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,4/12/2021,https://hammond-ramsey.com/,NaN
8,NaN,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,1/13/2020,https://www.bullock.net/,NaN
9,10.0,NaN,NaN,Gallagher,NaN,Elaineberg,739.218.2516x459,NaN,mdyer@escobar.net,11/8/2021,https://arias.com/,NaN

In [167]:
#handling missing data using fina or dropnaa
import pandas as pd
var=pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",nrows=17)
# var.dropna(how="all")
# var.dropna(subset=["Customer Id"])
var.dropna(thresh=8)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Unnamed: 12
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/,NaN
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/,NaN
2,3.0,6F94879bDAfE5a6,Roy,NaN,12,NaN,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/,NaN
3,NaN,1,1,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,6/2/2020,http://www.good-lyons.com/,NaN
4,5.0,NaN,NaN,NaN,"in, Lang and Andrade",West Priscilla,1,001-234-203-0635x76146,001-199-446-3860x3486,colin1alvarado@miles.net,4/17/2021,https://goodwin-ingram.com/,1.0
6,7.0,EA4d384DfDbBf77,1,1,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,8/24/2021,https://www.le.com/,NaN
7,8.0,0e04AFde9f225dE,Brett,Mullen,NaN,Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,4/12/2021,https://hammond-ramsey.com/,NaN
8,NaN,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,1/13/2020,https://www.bullock.net/,NaN
9,10.0,NaN,NaN,Gallagher,NaN,Elaineberg,Timor-Leste,739.218.2516x459,NaN,mdyer@escobar.net,11/8/2021,https://arias.com/,NaN
10,NaN,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey,637-854-0256x825,114.336.0784x788,kirksalas@webb.com,10/20/2021,https://simmons-hurley.com/,NaN
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam,(041)737-3846,+1-556-888-3485x42608,mark42@robbins.com,11/29/2020,http://www.douglas.net/,NaN
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo,001-949-844-8787,(855)713-8773,alex56@walls.org,12/2/2021,http://www.beck.com/,NaN
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,Sri Lanka,786-284-3358x62152,+1-315-627-1796x8074,NaN,2/8/2021,https://www.brandt.com/,NaN
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Singapore,(781)861-7180x8306,207-185-3665,cassieparrish@blevins-chapman.net,1/26/2022,http://stevenson.org/,NaN
15,NaN,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire,Oman,540.085.3135x185,+1-600-462-6432x21881,vduncan@parks-hardy.com,4/12/2022,http://acosta.org/,NaN
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara,936.222.4746x9924,001-469-948-6341x359,holtgwendolyn@watson-davenport.com,3/10/2021,http://www.benson-roth.com/,NaN

In [11]:
#fillna

import pandas as pd
var=pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",nrows=17)
# var.fillna({"Last Name":"jni","City":"srinagr"})
# var.bfill(axis=1)
var.fillna(12,inplace=True)



# var.fillna(method="ffill")
# var.fillna(method="bfill")
# var.bfill()#also use like this

In [65]:

import pandas as pd
var=pd.read_csv("C:/Users/junaidwar/Downloads/customers-100.csv",nrows=17)

In [87]:
#merge and concate
import pandas as pd
var1=pd.DataFrame({"name":["jani","mani","wani"],"so":["mumbi","lundon","newslnd"]})

var2=pd.DataFrame({"name":["jani","mani","dani"],"city":["mumbi","lundon","africa"]})
pd.merge(var1,var2,on="name",how="outer",indicator=True)


#merge and concate
import pandas as pd
var1=pd.DataFrame({"name":["jani","mani","wani"],"so":["mumbi","lundon","newslnd"]})

var2=pd.DataFrame({"name":["jani","mani","dani"],"city":["mumbi","lundon","austra"]})
pd.merge(var1,var2,left_index=True,right_index=True)

  name_x       so name_y    city
0   jani    mumbi   jani   mumbi
1   mani   lundon   mani  lundon
2   wani  newslnd   dani  austra

In [102]:
#concatenate
a=pd.DataFrame({"a":[1,23,4,5],"b":[21,22,23,24]})
b=pd.DataFrame({"a":[1,23,4,6],"b":[25,26,27,28]})
pd.concat([a,b],axis=1,join="outer").

ValueError: Only can inner (intersect) or outer (union) join the other axis

In [ ]:
#jions